div{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

div.transbox {
    margin: 30px;
    padding: 15px 15px;
    background-color:rgba(0,0,0,0.5);
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
.full-width {
    width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.navbar-default .navbar-nav > li > a{
    color: white;
    padding-right: 20px;
}

#navbarlast{
    margin-right: 30px;
}

#intro img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
    max-height: 10%;
}

.jumbotron {
    padding-top: 150px;
    padding-bottom: 100px;
    margin:0;
}

.navbar {
    background-color: #000000;
}

.container-fluid {
    padding: 80px 80px;
    padding-top: 60px;
}

.logo{
    font-size: 50px;
}

.glyphicon {
    font-size: 75px;
}

.bg-1{
    background-color: #2d2d30;
    color: white;
}

.bg-2{
    background-color: #fafaf0;
    color: black;
}

.navbar.navbar-default {
  border: none;
  box-shadow: none;
}
